.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 1.8rem;
  width: 1.8rem;
  background-color: white;
  border: 0.2rem solid #cacecd;
  border-radius: 0.2rem;
  padding: 0rem;
  margin: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover,
  &:focus {
    border: 0.2rem solid #909695;
  }

  &:checked {
    background-color: #11A87D;
    border: 0.2rem solid  #11A87D;

    &:after {
      color: white;
      content: '\2714';
      font-size: 1rem;
    }
  }

  &.indeterminate {
    background-color: #11A87D;
    border: 0.2rem solid  #11A87D;

    &:after {
      color: white;
      content: '\FF0D';
      font-size: 1rem;
    }
  }

  &:disabled {
    background-color: #f9fafa;
    border: 1rem solid #f9fafa;
    cursor: not-allowed;
    pointer-events: all;
  }

  &.hasError {
    border: 0.2rem solid #DB373C;
  }
}
